.activeSearchResult {
  border-left: 3px solid #4386fa !important;
  transform: translate(-3px, 0) !important;
}

div.g.activeSearchResult,
li.ads-ad li.activeSearchResult,
div.gs_r.activeSearchResult {
  padding-left: 8px;
  margin-left: -11px;
  transform: none !important;
}

td.activeSearchResult {
  padding-right: 0 !important;
}

body.useSimpleHighlight h3 a:focus,
body.useSimpleHighlight #search .r > a:focus {
  white-space: nowrap;
}

body.useSimpleHighlight h3 a:focus:before,
body.useSimpleHighlight #search .r > a:focus:before {
  content: '\25BA \00A0';
}

body.useHighlight h3 a:focus,
body.useHighlight #search .r > a:focus {
  outline: 0;
}
